// bower:scss
// endbower
@import 'variables/colours';
@import 'reset/normalize';
@import 'reset/reset';
@import 'components/triangle';
@import 'components/project';

body {
  background: $grey;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

main {
  max-width: 1240px;
  margin: 0px auto;
}